### Question-1. Write a program that takes a string as input, and counts the frequency of each word in the string, there might be repeated characters in the string. Your task is to find the highest frequency and returns the length of the highest-frequency word.

In [ ]:
 def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
        max_key=max(counts,key=counts.get)
        

    return counts, len(max_key)

word_count(input())

### Question 2. Consider a string to be valid if all characters of the string appear the same number of times. It is also valid if he can remove just one character at the index in the string, and the remaining characters will occur the same number of times. Given a string, determine if it is valid. If so, return YES , otherwise return NO .

In [ ]:
from collections import Counter

def isValid(s):
    c = Counter(Counter(s).values())
    if len(c)==1:
        return "YES"
    if len(c)>2:
        return "NO"
    if 1 in c.values() and (c[min(c.keys())]==1 or (max(c.keys()) - min(c.keys())==1)):
        return "YES"
    else:
        return "NO"

print(isValid(input()))

### Question 3. Write a program, which would download the data from the provided link, and then read the data and convert that into properly structured data and return it in Excel format.

In [37]:
import pandas as pd
import requests
url='https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json' #provide valid url link to download data

In [55]:
response=requests.get(url)
data=response.json()
data1=data['pokemon']
df=pd.DataFrame(data1,columns=['id',
   'num',
   'name',
   'img',
   'type',
   'height',
   'weight',
   'candy',
   'egg',
   'spawn_chance',
   'avg_spawns',
   'spawn_time',
   'multipliers',
   'weaknesses',
   'prev_evolution'])

In [58]:
df.to_excel("pokemon_Excel.xlsx")

### Question 4 -Write a program to download the data from the link given below and then read the data and convert the intothe proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json

In [62]:
url1='https://data.nasa.gov/resource/y77d-th95.json' #provide valid url link to download data

In [63]:
nasa=requests.get(url1)
data_nasa=nasa.json()

In [65]:
df_nasa=pd.DataFrame(data_nasa)

In [67]:
df_nasa.to_csv('nasa.csv')

### Question 5 -Write a program to download the data from the given API link and then extract the following data withproper formatting
Link - http://api.tvmaze.com/singlesearch/shows?q=westworld&embed=episodes

In [73]:
url2='http://api.tvmaze.com/singlesearch/shows?q=westworld&embed=episodes' #provide valid url link to download data

In [76]:
import json
maze=requests.get(url2)
pull_maze=maze.text
data_maze=json.loads(pull_maze)

In [80]:
for episode in data_maze["_embedded"]["episodes"]:
    print(f"Season {episode['season']} Episode {episode['number']}: {episode['name']}")

Season 1 Episode 1: The Original
Season 1 Episode 2: Chestnut
Season 1 Episode 3: The Stray
Season 1 Episode 4: Dissonance Theory
Season 1 Episode 5: Contrapasso
Season 1 Episode 6: The Adversary
Season 1 Episode 7: Trompe L'Oeil
Season 1 Episode 8: Trace Decay
Season 1 Episode 9: The Well-Tempered Clavier
Season 1 Episode 10: The Bicameral Mind
Season 2 Episode 1: Journey Into Night
Season 2 Episode 2: Reunion
Season 2 Episode 3: Virtù e Fortuna
Season 2 Episode 4: The Riddle of the Sphinx
Season 2 Episode 5: Akane No Mai
Season 2 Episode 6: Phase Space
Season 2 Episode 7: Les Écorchés
Season 2 Episode 8: Kiksuya
Season 2 Episode 9: Vanishing Point
Season 2 Episode 10: The Passenger
Season 3 Episode 1: Parce Domine
Season 3 Episode 2: The Winter Line
Season 3 Episode 3: The Absence of Field
Season 3 Episode 4: The Mother of Exiles
Season 3 Episode 5: Genre
Season 3 Episode 6: Decoherence
Season 3 Episode 7: Passed Pawn
Season 3 Episode 8: Crisis Theory
Season 4 Episode 1: The Auguries
Season 4 Episode 2: Well Enough Alone
Season 4 Episode 3: Années Folles
Season 4 Episode 4: Generation Loss
Season 4 Episode 5: Zhuangzi
Season 4 Episode 6: Fidelity
Season 4 Episode 7: Metanoia
Season 4 Episode 8: Que Será, Será

# Machine learning

## Q-1. Imagine you have a dataset where you have different Instagram featureslike u sername , Caption , Hashtag , Followers , Time_Since_posted , and likes , now your task isto predict the number of likes and Time Since posted and the rest of the features areyour input features. Now you have to build a model which can predict thenumber of likes and Time Since posted.
Dataset This is the Dataset You can use this dataset for this question.

In [104]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [105]:
df= pd.read_csv('instagram_reach.csv')

In [106]:
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [107]:
df.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [108]:
df.shape

(100, 8)

In [109]:
#so we have 100 rows of data so we can impute is null values from dropping them
df=df.dropna()

In [110]:
df.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [111]:
'''Now we are having no null values in my dataset so we can check which colimns are required for target 
as in previewun named column and s.n column doesnot affect target so we can drop them '''

df.head(2)

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23

In [112]:
df.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

In [116]:
df.drop(['Unnamed: 0', 'S.No',], axis=1, inplace=True)

In [117]:
df.columns

Index(['USERNAME', 'Caption', 'Followers', 'Hashtags', 'Time since posted',
       'Likes'],
      dtype='object')

In [118]:
#selecting the relevant features and target variables 
features=['USERNAME', 'Caption', 'Followers', 'Hashtags']
t_Likes='Likes'
t_Time_since_posted='Time since posted'

In [119]:
X=df[features]
y_Likes=df[t_Likes]
y_Time_since_posted=df[t_Time_since_posted]
X_train,X_test,y_Likes_train,y_Likes_test,y_Time_since_posted_train,y_Time_since_posted_test=train_test_split(X,y_Likes,y_Time_since_posted,random_state=42,test_size=0.2)

In [126]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import warnings

In [128]:
# Preprocess the text features using one-hot encoding
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_train_encoded = encoder.fit_transform(X_train)
X_test_encoded = encoder.transform(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [130]:
# Train a model to predict the number of likes
likes_model = LinearRegression()
likes_model.fit(X_train_encoded, y_Likes_train)
likes_predictions = likes_model.predict(X_test_encoded)
likes_mse = mean_squared_error(y_Likes_test, likes_predictions)
print("Mean Squared Error (Likes):", likes_mse)

Mean Squared Error (Likes): 1796.647477115598

In [134]:
#training a model for time since posted 
import re
def extract_num_val(time_string):
    num_val=re.findall(r'\d+',time_string)[0]
    return int(num_val)

In [135]:
y_Time_since_posted_train=y_Time_since_posted_train.apply(extract_num_val)
y_Time_since_posted_test=y_Time_since_posted_test.apply(extract_num_val)

In [136]:
time_since_posted_model=LinearRegression()
time_since_posted_model.fit(X_train_encoded, y_Time_since_posted_train)
time_since_posted_pred=time_since_posted_model.predict(X_test_encoded)
time_since_posted_mse=mean_squared_error(y_Time_since_posted_test,time_since_posted_pred)
print(time_since_posted_mse)

13.367473082092502

## Q-2. Imagine you have a dataset where you have different features like Age ,Gender , Height , Weight , BMI , and Blood Pressure and you have to classify the people into different classes like Normal , Overweight , Obesity , Underweight , and Extreme Obesity by using any 4 different classification algorithms. Now you have to build a model which can classify people into different classes.
Dataset This is the Dataset You can use this dataset for this question.

In [ ]:
df1=pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv ')